<mat-toolbar color="primary" class="mat-elevation-z3" style="height: unset; min-height: 72px; padding-top: 8px; position: relative;">
  <form class="inverted-form horizontal-form" style="display: flex; flex-wrap: wrap;" autocomplete="off">

    <!-- <mat-form-field class="width120">
      <mat-select [(ngModel)]="filters.checkType" name="checkType" placeholder="{{ 'Check type' | translate }}" (selectionChange)="search()">
        <mat-option [value]=""></mat-option>
        <mat-option *ngFor="let checkType of (enums.CheckType | enumtranslate)" [value]="checkType.key">
          {{ checkType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field class="width160">
      <input matInput type="text" [(ngModel)]="filters.title" name="title" placeholder="{{ 'Title' | translate }}" (ngModelChange)="textInputChanged()" />
    </mat-form-field>

<!--
    <mat-form-field class="width160">
      <mat-select [(ngModel)]="filters.sortColumnAndOrder" name="sortColumnAndOrder" placeholder="{{ 'Sort by' | translate }}" (selectionChange)="search()"
        [compareWith]="compareSortColumnAndOrder">
        <mat-option [value]=""></mat-option>
        <mat-option *ngFor="let sortColumn of sortTypes" [value]="sortColumn">
          {{ sortColumn.description | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
<!--
    <mat-checkbox [(ngModel)]="filters.includeExecuted" name="includeExecuted" (change)="search()">
      {{ 'Include executed' | translate }}
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="filters.unassignedOnly" name="unassignedOnly" (change)="search()">
      {{ 'Unassigned only' | translate }}
    </mat-checkbox> -->

    <button mat-raised-button color="accent" (click)="clear()" style="margin-top: 8px; margin-bottom: 8px;">
      Clear
    </button>

    <!-- <button mat-raised-button color="accent" (click)="download()" style="margin-top: 8px; margin-bottom: 8px;" [disabled]="downloading">
        <mat-icon>download</mat-icon>
    </button> -->
  </form>

  <button mat-mini-fab color="accent" routerLink="/new-suggestion" style="position: absolute; right: 16px; bottom: 16px">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="page-container">
  <div *ngIf="error" class="error" style="margin-top: 20px">
    <strong>Error searching</strong>
    <p>{{ error }}</p>
  </div>

  <div *ngIf="!loading && !error && suggestions.length === 0">
    No results found with these filters.
  </div>

  <div *ngIf="!error && suggestions.length > 0">
    <ng-container *ngFor="let suggestion of suggestions">
      <div class="suggestion mat-elevation-z3" [routerLink]="'/suggestion/' + suggestion.id">
        <div class="suggestion-votes">
          <a (click)="voteUp($event, suggestion)" [routerLink]=""><mat-icon>arrow_drop_up</mat-icon></a>
          {{ suggestion.totalVotes }}
          <a (click)="voteDown($event, suggestion)" [routerLink]=""><mat-icon>arrow_drop_down</mat-icon></a>
        </div>
        <div>
          <img class="suggestion-img" src="https://picsum.photos/100/100" />
        </div>
        <div class="suggestion-body">
          <h3>{{ suggestion.title }}</h3>
          <p>{{ suggestion.description | limitlength:200 }}</p>
          <p class="suggestion-info">
            {{ 'By' | translate }} {{ suggestion.createdBy }} {{ 'on' | translate }} {{ suggestion.createdOnUtc | date:'dd/MM/yyyy HH:mm:ss' }}
            <br />
            {{ suggestion.totalComments }} {{ 'comments' | translate }}
          </p>
        </div>
      </div>
    </ng-container>

    <div *ngIf="loading" style="margin: 20px">
      <mat-spinner diameter="16" color="accent" class="mat-progress-spinner"></mat-spinner>
      Loading...
    </div>
  </div>

</div>
