<mat-toolbar class="navbar-header" color="primary" class="mat-elevation-z3">
  <h1>
    <mat-icon class="inline">question</mat-icon>
    {{ 'Suggestion' | translate }}<ng-container *ngIf="suggestion">: {{ suggestion.title }}</ng-container>
  </h1>
</mat-toolbar>

<div class="page-container" *ngIf="loading && !suggestion">
  <mat-spinner diameter="16" color="accent" class="mat-progress-spinner"></mat-spinner>
  {{ 'Loading' | translate }}...
</div>

<div class="page-container" *ngIf="suggestion">
  <p>
    {{ suggestion.description }}
  </p>
  <p class="suggestion-info">
    {{ 'By' | translate }} {{ suggestion.createdBy }} {{ 'on' | translate }} {{ suggestion.createdOnUtc | date:'dd/MM/yyyy HH:mm:ss' }}
    <br />
    {{ suggestion.totalComments }} {{ 'comments' | translate }}
  </p>

  <div class="action-list">
    <button mat-raised-button color="primary" [routerLink]="'/suggestion/edit/' + suggestion.id"><mat-icon>edit</mat-icon> {{ 'Edit' | translate }}</button>
    <button mat-raised-button (click)="voteUp()"><mat-icon>thumbs_up</mat-icon></button>
    <button mat-raised-button (click)="voteUp()"><mat-icon>thumbs_down</mat-icon></button>
  </div>

  <h2>{{ 'Comments' | translate }}</h2>

  <form #commentForm="ngForm" autocomplete="off">
    <fieldset>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="12px">
        <div fxFlex="60%" fxFlex.lt-md="100%">

          <div fxLayout="row" fxLayoutGap="12px grid">
            <mat-form-field fxFlex="100%">
              <input required type="text" matInput [(ngModel)]="newComment" name="content" maxlength="5000"
                placeholder="{{ 'Comment' | translate }}">
            </mat-form-field>
          </div>

          <button [disabled]="!commentForm.form.valid" (click)="add()" color="primary" mat-raised-button style="margin-bottom: 5px">
            {{ 'Add' | translate }}
          </button>
        </div>
      </div>
    </fieldset>
  </form>

  <div *ngFor="let comment of suggestion.comments">
    <div class="comment mat-elevation-z3">
      <div class="comment-votes">
        <a (click)="voteCommentUp($event, comment)" [routerLink]=""><mat-icon>arrow_drop_up</mat-icon></a>
        {{ comment.totalVotes }}
        <a (click)="voteCommentDown($event, comment)" [routerLink]=""><mat-icon>arrow_drop_down</mat-icon></a>
      </div>
      <div class="comment-body">
        <p>{{ comment.description | limitlength:200 }}</p>
        <p class="comment-info">
          {{ 'By' | translate }} {{ comment.createdBy }} {{ 'on' | translate }} {{ comment.createdOnUtc | date:'dd/MM/yyyy HH:mm:ss' }}
        </p>
      </div>
    </div>
  </div>
</div>
